/.vs/GestionTareas/FileContentIndex
/.vs/GestionTareas/config/applicationhost.config
/.vs/GestionTareas/v17/.suo
/.vs/GestionTareas/v17/DocumentLayout.json
/GestionTareas/bin/GestionTareas.dll
/GestionTareas/bin/GestionTareas.dll.config
/GestionTareas/bin/GestionTareas.pdb
